.modal-back {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(67, 106, 139, 0.8);
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.modal {
  width: 700px;
  height: 400px;
  background-color: #f4f5f7;
  border-radius: 4px;
  padding: 20px;
  padding-left: 40px;
  position: relative;
}

.modal__top {
  display: flex;
  justify-content: space-between;
}

.modal__title-descr {
  font-size: 14px;
  line-height: 26px;
}

.modal__cancel {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.modal__cancel:hover {
  background-color: #e3e4e9;
}

.modal__cancel-btn {
  color: #7e828c;
  font-size: 16px;
}

.modal__textarea {
  border: none;
  margin-top: 12px;
  width: 80%;
  padding: 8px;
  border-radius: 4px;
  background-color: #eaecf0;
  transition: .3s;
  margin-bottom: 8px;
  height: 80px;
  display: block;
  resize: none;
}

.modal__textarea:hover {
  background-color: #e3e4e9;
}

.modal__textarea:focus {
  background-color: #fff;
  outline-color: #0079be;
}

.modal__input {
  border: 1px solid #0079be;
  border-radius: 4px;
  width: 80%;
  display: block;
  padding: 8px;
  margin-bottom: 8px;
}

.modal__input:focus {
  outline-color: #0079be;
}

.modal__subtitle {
  font-weight: 500;
  margin: 20px 0 8px;
}